---
layout: default
---

<section>
  <div class="page-content">
    <div class="wrapper">
      <div class="full-height">

        <div class="signature">
          {% include dvonrohr.svg %}
        </div>

        <h1>{{ site.title }}</h1>

        <p class="lead">
          {{ site.description }}
        </p>

        <p>
          <a href="#">READ MORE</a>
        </p>
      </div>
    </div>
  </div>
</section>


<section class="page-content">
  <div class="wrapper">

    <div class="home">

      <h1 class="page-heading">Posts</h1>

      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>

            {{ post.excerpt }}

            <p>
              <a class="more" href="{{ post.url | prepend: site.baseurl }}">
                Read more
              </a>
            </p>
          </li>
        {% endfor %}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

    </div>
  </div>
</section>
