<section class="section-about">
    <h2>About Me</h2>

    <img src="/img/profile.jpg" class="img-rounded img-responsive" alt="dvonrohr">

    <p>
        I work professionally as a full-stack web developer and interested in this stuff since I'm 14 years old. My interests are especially in the web area. Programming languages like PHP, Ruby, Erlang, Golang and modern web development based on Javascript and
        CSS3 are on top of my interests.
    </p>

    <h2>Social Profiles</h2> {% include social-icons.html %}

    <h2>Recent Posts</h2>
    <ul>
        {% for post in site.posts limit:10 %}
        <li>
            <a href="{{ post.url }}">
          {{ post.title }}<br>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </a>
        </li>
        {% endfor %}
    </ul>

    <h2>Twitter</h2>
    <a class="twitter-timeline" data-height="600" href="https://twitter.com/dvonrohr">Tweets by dvonrohr</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>
