// Site header

.site-header {
  border-bottom: 1px solid $grey-color-light;
  line-height: 3.2;
  position: relative;

  .wrapper-top {
    padding: 7px 0;
  }

  .social-media-list {
    float: left;
    margin-bottom: 0;
  }
}

.site-title {
  float: left;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 56px;
  margin-bottom: 0;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.menu {
  visibility: hidden;
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    margin-left: 20px;
    position: absolute;
    right: $spacing-unit / 2;
    text-align: right;
    top: 9px;

    .menu-icon {
      display: block;
      float: right;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      width: 36px;

      > svg {
        height: 15px;
        width: 18px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

 // Site footer

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.icon--home {
  background-color: $grey-color;
  float: left;
  margin-right: 7px;
  padding: 1px 14px;

  svg {
    fill: #fff;
    height: 25px;
    margin: 0;
    position: relative;
    top: 7px;
    width: auto;
  }
}

.icon--back {
  svg {
    display: inline-block;
    width: 11px;
    height: 11px;
    top: -1px;
    position: relative;
    margin-left: 0;
  }
}

.social-media-list {
  li {
    display: inline;
  }

  a:hover {
    text-decoration: none;
  }
}

.footer-col-wrapper {
  @extend %clearfix;
  color: $grey-color;
  font-size: 15px;
  margin-left: -$spacing-unit / 2;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

 // Page content

.full-height {
  display: table-cell;
  height: 85vh;
  vertical-align: middle;
}

.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  list-style: none;
  margin-left: 0;
  color: $grey-color;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  color: $grey-color;
  font-size: $small-font-size;
}

.post-link {
  display: block;
  font-size: 24px;
}

// Posts

.post-header {
  margin-bottom: $spacing-unit;
}

.post-header-wrapper {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 65vh;
  position: relative;

  .wrapper-top {
    background-color: rgba($white-color, .5);
  }

  h1 {
    background: rgba($black-color, .6);
    bottom: 0;
    color: $white-color;
    left: 0;
    line-height: 1.6;
    position: absolute;
    right: 0;
    text-align: center;
  }
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.panel {
  background: $white-color;
}

.slideout-menu {
  bottom: 0;
  display: none;
  left: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 340px;
  z-index: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open .slideout-panel,
.slideout-open body {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/*** Table Styles **/

table {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  margin: 20px 0;
  width: 100%;
  animation: float 5s infinite;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-right: 1px solid #343a45;
  font-weight: 100;
  padding: 14px;
  text-align:left;
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-weight:normal;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:14px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
