.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-rounded {
  border-radius: 10px;
  margin: auto;
}

.toggle-button {
  width: 40px;
  height: 40px;
  display: inline-block;
  float: right;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid $grey-color-light;
  text-align: center;
  line-height: 43px;
  margin-left: 6px;
  font-size: 14px;
  color: $grey-color-light;
  transition: all 0.1s ease;

  svg {
    position: relative;
    top: 1px;
    left: 0;
    height: 17px;
    width: 17px;
    fill: $grey-color-dark;
  }

  &:hover {
    background: $grey-color-dark;
    svg {
      fill: white;
    }
  }
}

.section-about {

  .img-rounded {
    max-width: 90%;
  }
}
