.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-rounded {
  border-radius: 10px;
  margin: auto;
}

.toggle-button {
  border: 3px solid $grey-color-light;
  border-radius: 50%;
  color: $grey-color-light;
  display: inline-block;
  float: right;
  font-size: 14px;
  height: 40px;
  line-height: 43px;
  margin-left: 6px;
  overflow: hidden;
  text-align: center;
  transition: all .1s ease;
  width: 40px;

  svg {
    fill: $grey-color-dark;
    height: 17px;
    left: 0;
    position: relative;
    top: 1px;
    width: 17px;
  }

  &:hover {
    background: $grey-color-dark;
    
    svg {
      fill: $white-color;
    }
  }
}

.section-about {
  padding: 26px 30px;

  .img-rounded {
    margin-bottom: 20px;
  }
}
