@tailwind base;

@font-face {
    font-family: Rift;
    font-weight: 900;
    src: url(~static/fonts/Rift-Bold.woff) format("woff");
}

@font-face {
    font-family: Rift;
    font-weight: 500;
    src: url(~static/fonts/RiftSoft-Bold.woff) format("woff");
}

@font-face {
font-family: OpenSans;
font-weight: 500;
src: url(~static/fonts/OpenSans-Regular.woff) format("woff");
}

@tailwind components;

h1 {
    font-family: 'Rift';
}

h2 {
    font-family: 'Rift';
    font-weight: 500;
}

body {
    font-family: 'OpenSans';
    @apply text-gray-900;
}

@tailwind utilities;