<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    <div class="menu">
        {% include about.html %}
    </div>

    <div class="panel">
        <header class="site-header">
            <div class="post-header-wrapper" style="background-image:url(/img/blog/{{ page.image }});">
                {% include header.html %}
            </div>
        </header>

        {{ content }} {% include footer.html %}
    </div>

    <script src="/js/vendor/slideout-0.1.12/dist/slideout.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
